.Dictionary section {
  margin-top: 50px;
  border: solid;
  border-color: black;
  background-color: rgb(235, 228, 228);
  border-radius: 10px;

  padding: 20px;
  font-size: 25px;
}
.Dictionary form {
  text-align: center;
  border-radius: 10px;
}

.Dictionary input {
  border-radius: 10px;
  background-color: black;
  color: white;
}

#search-button {
  color: white;
  transition: all 200ms ease;
}

#search-button:hover {
  color: black;
  background-color: rgb(235, 228, 228);
}
